/* 
* Author: Max Collins
* Date: 4/26/2025
* Description: CSS file for PageTemplate.tsx
* Handles styling for the artist, album, and track pages
*/

@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");

/* General page styling */
.page-template {
    background-color: #363333;
}
/* Page Header styling */
.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #FBB03B, #F7931E, #F15A24);
    height: 20vh;
    width: 98%;
    margin: 0 auto;
}

/* Page Footer styling */
.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, #FBB03B, #F7931E, #F15A24);
    height: 20vh;
    width: 98%;
    margin: 15px auto;
}

/* Page Header logo */
.arrow-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.arrow-body {
    width: 500px;
    height: 15px;
    background-color: #FFFFFF;
    margin: -5px;
}

.arrow-head {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid #FFFFFF;
    transform: rotate(90deg);
    margin: 0px;
}

.sideB {
    font-family: 'Baumans', sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 0 0 10px #808080;
    font-style: italic;
    margin-bottom: -5px;
}

/* Track page styling */

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 14px;
}

.trackInfo {
    list-style: none;
    font-size: 35px;
    color: #FFFFFF;
}

.trackInfo a {
    color: #FFFFFF;
}

/* Album page styling */

.albumInfo {
    list-style: none;
    font-size: 35px;
    color: #FFFFFF;
}

.albumInfo a {
    color: #FFFFFF;
}

.divider {
    width: 98%;
    height: 2px;
    background-color: #FBB03B;
    margin: 20px auto;
}
.tracksSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.tracksHeader {
    font-family: "Baumans", sans-serif;
    font-size: 60px;
    color: #FFFFFF;
}

.albumTracks {
    list-style: none;
    column-count: 3;
    font-size: 30px;
}

.albumTracks a {
    color: #FFFFFF;
}